<header class="post-info">
        <ul class = "date" style="list-style-type:none">
                
                <li><time datetime="{{ article.date }}">{{ article.locale_date }}</time></li>

                
                {% if article.modified %}
                <li><time class="date" datetime="{{ article.modified }}">Upd: {{ article.locale_date }}</time></li>
                {% endif %}
                
                
                {% if article.translations %}
                <li>
                Translations:
                        {% for translation in article.translations %}
                        <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
                        {% endfor %}
                </li>
                {% endif %}
                
        </ul>
</header><!-- /.post-info -->
