{% extends 'base.html' %}

{% block title %}Blog | {{ SITENAME }}{% endblock %}

{% block content %}
	<h1 class="title"><a href="blog/"></a>Blog</a></h1> <!--TODO add reference-->
	<div class="content">
		{% for cat, articles in categories %} <!--TODO sort it somehow-->
		<h2>{{ cat }}</h2> <!--TODO add reference-->
		<ul>
			{% for article in articles  %}
			<li><a href="{{ article.url }}">{{ article.title }}</a> &raquo; {{ article.locale_date }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
	<div id="back-to-home"><a href="index.html">&laquo; Back to Home</a></div>
{% endblock %}
