{% extends "base.html" %}

{% block title %} Categories | {{ SITENAME }}{% endblock %}

{% block content %}
    <h1 class = "title"><a href = "/categories.html">Categories</a></h1>
    <div class = "content">
        {% for category, articles in categories|sort %}
        <h2><a href="{{ category.url }}">{{category}}</a></h2>
        <ul>
            {% for article in articles|sort(attribute='date', reverse=True) %}
                <li><a href="/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}

    </div>
    <div id = "back-to-home"><a href="/">&laquo; Back to Home</a></div>
{% endblock %}